*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;

}
.header{
    display: flex;
    background: #073f68;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 80px;
    margin-top: 20px;
}
.nav-links ul{
    display: flex;
    flex-direction: row ;
    list-style-type: none;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
    width: 30vw;
}

.nav-links ul a{
    color: #fff;
    text-decoration: none;  
    text-transform: capitalize;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.nav-links ul a:hover{
    background-color: #ede5e5;
    color: black;
    padding: 12px 16px;
}
.header .logo{
    margin-top: -20px;
}
.header img{
  height: 100px;
}

.main .col1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url(./images/galeri.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.main .col1 h1{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    justify-self: stretch;
    border-bottom: 1px solid white;
    text-align: center;
}
.main .col1 .tutorial-links ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 20px;

}
.main .col1 .tutorial-links ul a{
    background-color: rgb(255, 255, 255,0.3);
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    border: 1px solid white;
    transition: ease-in-out 0.5s;
}
.main .col1 .tutorial-links ul a:hover{
    padding: 13px 18px;
    background-color: #ede5e5;
    color: black;
}